{% extends 'base.html.twig' %}

     {#  les texte du site du header  #}





    {% block headerMain %}

        {% if articles is defined %}
            {# <div class="ui clearing divider"></div> #}
                <div class="ui audioAccueil">
                    {% for article in articles|slice(0, 3) %}

                        <div class="ui raised card">
                            <div class="content topCont">
                                <div class="right floated meta ">{{article.created|date("d M" )}}</div>
                                <img class="ui avatar image"  src="{{ asset('upload/' ~ article.getAvatarID.picture)}}"> 
                                <a href=" {{ path("app_avatars_show",{'id': article.getAvatarID.id})}} "> 
                                {{article.getAvatarID.pseudo}} </a>
                            </div>
                            <div class="image front">
                                <img src="{{ asset('upload/' ~ article.img)}}" >
                            </div>
                            <div class="content">
                                <h4><a href={{ path('article_single', {id:article.id}) }}>{{article.title[0:40]}}</a></h4>
                                <div class="meta">
                                    <span class="date">{{article.subTitle[0:60]}}</span>
                                </div>
                                <div class="description">
                                    {% set art = article.intro|slice(0, 100) ~ '...'  %}
                                    {{ art}}
                                </div>
                                
                                {# <i class="comment icon"></i>
                                3 comments #}
                            </div>
                            
                            <div class="ui extra content">
                                {# <div class="ui large transparent left icon input">
                                <i class="heart outline icon"></i>
                                <input type="text" placeholder="Add Comment...">
                                </div> #}
                                <audio class="audio" controls src="{{ asset('upload/' ~ article.src)}}"  style="width:100%; max-width:587px; min-width:200px;" >
                                    <a href="{{ asset('upload/' ~ article.src)}}" download="{{ asset('upload/' ~ article.src)}}" > </a>
                                </audio>
                            </div>
                        </div>
        
                    {# <div class="ui five wide column ">
                        <a href={{ path('article_single', {id:article.id}) }}>
                            <div  class="ui segment blue ">
                                <div class="ui segments horizontal" >
                                    <div  class="ui segment ">{{article.title}}</div> 
                                    <div  class="ui segment ">article : {{article.id}}</div> 
                                    <div class="ui segment ">{{article.created|date("d M, H:i " )}}</div>
                                </div> 
                                
                            <div class="ui segment "> {{article.description[0:100]}}... </div>
                        </a>

                        <div class="ui clearing divider"></div>
                        {% if app.user and app.user.getAvatar == article.getAvatarID %} 

                            <div class="ui grid centered">
                               {{dump(article.getAvatarID.id)}} #}
                                {# <a href={{path('articles_delete', {id: article.id})}} class="ui button height red"  >supprimer</a>
                                <a href={{path('articles_update', {id: article.id})}} class="ui button height primary" > modifier </a>
                            </div>
                        
                        {% endif %}
                        <div class="ui clearing divider"></div>
                    </div>              #}
                {# </div> #}
                {# {{dump(lastUser)}} #}
                {% endfor %}
            </div>
            <div class="ui container divider"></div>
        {% else %}
            <p class="ui segment red">il n'y a pas d'articles'</p>
        {% endif %}
      
    {% endblock %}

    {% block footerTop %} {#  les texte du footer  #}
        {% if site is defined %}

            <div class="ui container divider"></div>
            <div class="ui raised container segments index">
                
                <div class="ui blue very padded segment un">
                    <div class="ui icon">
                        <i class="massive paw icon "></i>
                    </div>
                    <div class="content">
                        <h3 class="ui header blue">{{site.subtitle11| raw }}</h3>
                        {{ site.text1| raw }}
                    </div>
                </div>

                <div class="ui very padded segment deux">
                    <div class="ui icon">
                        <i class="massive tree icon "></i>
                    </div>
                    <div class="content">
                        <h3 class="ui header blue">{{site.subtitle22| raw  }}</h3>
                        {{ site.text2| raw }}
                    </div>
                </div>

                <div class="ui very padded segment trois">
                    <div class="ui icon">
                        <i class="massive gift icon "></i>
                    </div>
                    <div class="content">
                        <h3 class="ui header blue">{{site.subtitle33| raw  }}</h3>
                        {{ site.text3| raw }}
                    </div>
                </div>
            </div>  


        
           
        {% endif %}
    {% endblock %}
    